#map{
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

.floating-range{
 position: fixed;
 bottom: 20px;
 left: 20px;
 z-index: 999;
 width: 500px;
 background-color: white;
 border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 -ms-border-radius: 20px;
 -o-border-radius: 20px;
 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.floating-content{
  display: flex;
  align-items: center;
}
